.navbar {
    background-color: #333;/* Navbar background color */
    height: 80px;
    display: flex;
    width: 100%;
    margin: 0%;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbar a {
    color: #ffffff;/* Text color for links */
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    justify-content: space-between;
    margin-right: 20px; /* Space between links */
  }
  
  .navbar span{
    color: red;
    margin-left: 0px;
  }

  .navbar .hostel-name{
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .navbar a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .register-button {
    background-color: #2980b9; /* Different color for register button */
    padding: 5px 10px;
    border-radius: 5px;
  }
  